.row-header{
	margin: 0px auto;
	padding: 0px auto;
}
.row-content-2{
	margin:0px auto;
	padding: 20px 70px 10px 0px;
	stop-color: #9575CD;
	border-bottom:0.5px ridge;
	min-height:50px;
	text-align: right;
}
.row-content{
	margin:0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom:1px ridge;
	min-height:200px;
}

.footer{
	background-color: #D1C4E9;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}
.right {
  position: absolute;
  top: 5px;
  right: 200px;
  height:250px;
  width: 250px;
  padding: 10px;
}
.jumbotron{
	padding:70px 30px 70px 30px;
	margin:0px auto;
	background:#9575CD;
	color:floralwhite;
}
.address{
	font-size: 80%;
	margin:0px;
	color:0f0f0f;
}
body{
	padding:50px 0px 0px 0px;
	z-index:0;
}
.navbar-dark{
	background-color: #512DAB;
}